 
#myForm{
  background: #ffffff;  
  width: 100%;
}

.tab p{
  font-size: 20px;
  margin: 0 0 10px 0;
}

input{
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

.index-btn-wrapper{
  display: flex;
}
.index-btn-wrapper .index-btn{
    background-color:#17c2c2;
    background-image:linear-gradient(180deg,#17c2c2, 10%,#069999 100%);
}
.index-btn-wrapper .index-btn:hover{
   
    background-image:linear-gradient(180deg,#17c2c2, 10%,#069999 100%);
}
.index-btn{
  margin: 20px 15px 0 0;
  background: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.index-btn:hover{
  opacity: 0.8;
}
.stepContainer{
    text-align:center;
    display: flex;
} 
.stepContainer .step-one{
    margin-left: 21px;
}
.stepContainer .step-one span{
    font-size: 14px;
    font-weight: 700;
}
.step{
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin: 0 2px;
  color: white;
  background: green;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.25;
}
.steptitle{
    opacity: 0.25;
} 
.grantordetail, .repdetail, .propdetail{
    font-size: 14px;
    font-weight: 700;
}
.properyGrid{
    width: 100%;
} 
#customertype{
    padding: 6px 16px;
    border-radius: 3px;
    
}